---
---

@import "{{ site.theme }}";
img#double 
{
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome                         */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  transform: scale(2);
  margin: 25px;

}

.dialogue 
{  
  margin: auto;
  max-width: 1280px;
	
}

.dialogue img 
{
  float: left;
}

.dialogue p
{  
  border-radius: 12px;
  background: #202020;
  padding-left: 8px;
  padding-bottom: 8px;
  width: 98%;
  height: 100%;
  word-wrap: break-word;
  min-height: 72px;
}

.dialogue b
{ 
  font-size: 75%;
  color: lightslategray;
}

.narration
{ 
  margin: auto;
  max-width: 1280px;
}

.narration p
{ 
  border-radius: 4px;
  background: #202020;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 98%;
  height: 100%;
  word-wrap: break-word;
}

.description
{ 
  margin: auto;
  max-width: 1280px;
}

.description p
{ 
  border-radius: 4px;
  background: #202020;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 98%;
  height: 100%;
  word-wrap: break-word;
}

.location
{ 
  background-image: url("/cyborgresistance/assets/images/misc/simcitysnesdesktop_poisonmushroomdotorgsmol.jpg");
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  text-shadow: 4px 3px #000000;
  color: #7ff2f9;
  margin-bottom: 20px;
  max-width: 1280px;
  border-radius: 4px;
  background-color: #202020;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 98%;
  height: 100px;
}

.EpButtons {
	-moz-box-shadow: 1px 1px 2px 0px #9fb4f2;
	-webkit-box-shadow: 1px 1px 2px 0px #9fb4f2;
	box-shadow: 1px 1px 2px 0px #9fb4f2;
	background-color:#5888e8;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	padding:7px 11px;
	text-decoration:none;
	text-shadow:1px 1px 1px #283966;
}
.EpButtons:hover {
	background-color:#4a61a8;
}
.EpButtons:active {
	position:relative;
	top:1px;
}


.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    overflow-y: auto;
    z-index: 0;
    background-color: hsl(0,0%,100%);
}

  .page:target {
    left: 0vw;
    z-index: 1;
}

/* Created with Easy CSS Menu */

#mbmcpebul_wrapper {
  padding: 0;
  border-style: solid;
  border-color: #383939;
  border-width: 0;
  border-radius: 0;
  background-color: #000000;
  box-shadow: none;
  border-collapse: separate;
  font-size: 0;
  line-height: 0;
}

#mbmcpebul_wrapper.quirks {
  margin-bottom: 0px;
  margin-right: 0px;
}

#mbmcpebul_wrapper.quirks #mbmcpebul_table ul li {
  width: 100%;
}

#mbmcpebul_table {
  margin: 0px;
  margin-bottom: -0px;
  margin-right: -0px;
  padding: 0;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
  width: auto;
}

#mbmcpebul_table li a {
  line-height: 18px;
  font-size: 16px;
  font-family: Verdana,sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  padding: 15px 20px 20px 20px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mbmcpebul_table li div.buttonbg {
  height: 48px;
  width: 128px;
  line-height: 0;
  background-color: #000000;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

#mbmcpebul_table li:hover div.buttonbg a, #mbmcpebul_table li.expanded a.topitem, #mbmcpebul_table li.active a.topitem,
#mbmcpebul_table li.itemhot a.topitem, #mbmcpebul_table li a:hover {
  color: #27D6ED;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}


#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  background-color: #000000;
  box-shadow: none;
}

#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  border-color: transparent;
}

#mbmcpebul_table ul li a {
  color: #FFFFFF;
  font-family: Verdana,sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#mbmcpebul_table ul li:hover > a {
  color: #6CEE68;
  font-family: Verdana,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li.subexpanded a.subexpanded, #mbmcpebul_table ul li.subitemhot a.subitemhot, #mbmcpebul_table ul li a:hover {
  color: #6CEE68;
  font-family: Verdana,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li:hover, #mbmcpebul_table ul li.subexpanded, #mbmcpebul_table ul li.subitemhot {
  border-color: #6CEE68;
  background-color: #383939;
  box-shadow: none;
}

#mbmcpebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #6CEE68;
  border-width: 0;
  padding: 0;
  background: #000000;
  font-size: 0;
  border-radius: 0;
}

#mbmcpebul_table ul li a {
  padding: 10px 18px 10px 16px;
  text-align: left;
}

#mbmcpebul_table ul li.separator {
  padding: 10px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mbmcpebul_table ul li.separator div {
  border-top: 1px solid #383939;
  font-size: 0px;
}

#mbmcpebul_table ul li {
  border-style: solid;
  border-color: #383838;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: #000000;
  display: block;
}


#mbmcpebul_table ul {
  box-shadow: 1px 1px 3px -1px #333333;
}

#mbmcpebul_table a img {
  border: none;
}

#mbmcpebul_table li {
  list-style: none;
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

#mbmcpebul_table.css_menu li {
  position: relative;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mbmcpebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mbmcpebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mbmcpebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mbmcpebul_table .submenu_arrow {
  margin-left: 8px;
}


@media screen and (max-width: 500px) {
  #mbmcpebul_wrapper:not(.scripted) {
    text-align: center;
  }

  #mbmcpebul_wrapper:not(.scripted) #mbmcpebul_table li {
    float: none;
    vertical-align: top;
  }
}

#mbmcpebul_wrapper.centeritems {
  text-align: center;
}

#mbmcpebul_wrapper.centeritems #mbmcpebul_table li {
  float: none;
  vertical-align: top;
}


// background-color: #0c376d; //bg
// background-color: #0a0f3a; //dialog bg
// outline: solid;
// outline-color: #3d7ac6;
// outline-width: 1px;