---
---

@import "{{ site.theme }}";
img#double 
{
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome                         */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  transform: scale(2);

}


element.style {
    padding-top: 8px;
}

body  {
  color: #FFF;
  background-image: url(../images/misc/wwbackground.png);
	}


@font-face {
font-family: "Mega Man 6 Stats";
src: url("../fonts/Mega-Man-6-Stats.otf");
}

@font-face {
font-family: "Mega Man 9";
src: url("../fonts/MMRock9.otf");
}

@font-face {
font-family: "Nintendo DS";
src: url("../fonts/Nintendo-DS-BIOS.ttf");
}

.dialogue 
{  
  margin: auto;
  max-width: 1280px;
	
}

.dialogue img 
{
    float: left;
	background-image: url(../images/mugshots/border.png);
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 8px;
}

.dialogue p
{  
	box-shadow: black 4px 4px;
    font-size: 15px;
    background: #0070E8;
	padding-top: 2px;
    padding-left: 8px;
    padding-bottom: 8px;
    height: 50%;
    word-wrap: break-word;
    min-height: 96px;
}

.dialogue profilename
{ 
    color: #FFF;
    text-shadow: black -2px 2px;
    font-family: 'Mega Man 9';
    font-size: 100%;
    padding-left: 4px;
    text-transform: uppercase;
    float: left;
    margin-left: -4px;
    word-break: break-word;
}

.narration
{ 
  margin: auto;
  max-width: 1280px;
}

.narration p
{ 
  box-shadow: black 4px 4px;
  background: #4060F8;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}

.description
{ 
  margin: auto;
  max-width: 1280px;
}

.description p
{ 
  box-shadow: black 4px 4px;
  background: #4060F8;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}

//Misc Epilogue Formatting

.epnum
{ 
  margin: auto;
  padding-top: 8px;
  margin-top:8px;
  max-width: 1280px;
  background-color:#000;
  font-size: 150%;
  text-align: center;
  text-shadow: -3px 3px #000;
  color: #FFF;
  font-family: 'Mega Man 9';
  text-transform: uppercase;
  height: 40px;
}

.eptitle p
{ 
  margin: auto;
  max-width: 1280px;
  background-color:#000;
  font-size: 100%;
  text-align: center;
  text-shadow: -2px 2px #000;
  color: #FFF;
  font-family: 'Mega Man 9';
  text-transform: uppercase;
  height: 24px;
}

.author p
{ 
margin: auto;
  max-width: 1280px;
  background-color:#000;
  font-size: 50%;
  text-align: center;
  text-shadow: -1px 1px #000;
  color: #FFF;
  font-family: 'Mega Man 9';
  height: 24px;
  margin-bottom:8px;
}


.actnum
{ 
margin: auto;
  max-width: 1280px;
  background-color:#000;
  font-size: 200%;
  text-align: center;
  text-shadow: -4px 4px #000;
  color: #FFF;
  font-family: 'Mega Man 9';
}


 
.location
{ 
  background-image: url("../../../wilyswarriors/assets/images/misc/cobaltcity.png");
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
  margin-bottom: 20px;
  max-width: 784px;
  padding-left: 8px;
  width: 98%;
  height: 96px;
  text-align: center;
  border-radius: 8px;
}

.location p
{ 
  font-size: 150%;
  text-align: center;
  text-shadow: -4px 3px #080808;
  color: #FCFCFC;
  border-radius: 4px;
  padding-top: 8px;
  font-family: 'Mega Man 6 Stats';
}

.location:before{
  font-size: 50%;
  text-align: center;
  text-shadow: -2px 1px #080808;
  color: #FCFCFC;
  border-radius: 4px;
  font-family: 'Mega Man 6 Stats';
  content: "Location";
}



.EpButtons {
	-moz-box-shadow: 1px 1px 2px 0px #9fb4f2;
	-webkit-box-shadow: 1px 1px 2px 0px #9fb4f2;
	box-shadow: 1px 1px 2px 0px #9fb4f2;
	background-color:#5888e8;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	padding:7px 11px;
	text-decoration:none;
	text-shadow:1px 1px 1px #283966;
	position: fixed;
}
.EpButtons:hover {
	background-color:#4a61a8;
}
.EpButtons:active {
	top:1px;
}

.EpButtons a {
	float: left;
	display: block;
}

/* Created with Easy CSS Menu */

#mbmcpebul_wrapper {
  background-image: url(../images/misc/wwbannerbg.png);
  padding: 0;
  border-style: solid;
  border-color: #383939;
  border-width: 0;
  border-radius: 0;
  background-color: #000000;
  box-shadow: none;
  border-collapse: separate;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

#mbmcpebul_wrapper img {
  text-align: center;
}

#mbmcpebul_wrapper.quirks {
  margin-bottom: 0px;
  margin-right: 0px;
}

#mbmcpebul_wrapper.quirks #mbmcpebul_table ul li {
  width: 100%;
  margin-top: -8px;
}

#mbmcpebul_table {
  margin: 0px;
  margin-bottom: -0px;
  margin-right: -0px;
  padding: 0;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
  width: auto;

}

#mbmcpebul_table li a {
  line-height: 32px;
  font-size: 16px;
  font-family: Verdana,sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: #DEF solid 2px;
}

#mbmcpebul_table li div.buttonbg {
  height: 32px;
  width: 112px;
  line-height: 0;
  background-color: #000000;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

#mbmcpebul_table li:hover div.buttonbg a, #mbmcpebul_table li.expanded a.topitem, #mbmcpebul_table li.active a.topitem,
#mbmcpebul_table li.itemhot a.topitem, #mbmcpebul_table li a:hover {
  color: #27D6ED;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}


#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  background-color: #000000;
  box-shadow: none;
}

#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  border-color: transparent;
}

#mbmcpebul_table ul li a {
    color: #FFFFFF;
    font-family: Verdana,sans-serif;
    font-size: 13px;
    line-height: 14px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    display: block;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
}

#mbmcpebul_table ul li:hover > a {
  color: #6CEE68;
  font-family: Verdana,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li.subexpanded a.subexpanded, #mbmcpebul_table ul li.subitemhot a.subitemhot, #mbmcpebul_table ul li a:hover {
  color: #6CEE68;
  font-family: Verdana,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li:hover, #mbmcpebul_table ul li.subexpanded, #mbmcpebul_table ul li.subitemhot {
  border-color: #6CEE68;
  background-color: #383939;
  box-shadow: none;
}

#mbmcpebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #6CEE68;
  border-width: 0;
  padding: 0;
  background: #000000;
  font-size: 0;
  border-radius: 0;
}

#mbmcpebul_table ul li a {
  padding: 6px 10px 6px 10px;
  text-align: left;
}

#mbmcpebul_table ul li.separator {
  padding: 4px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mbmcpebul_table ul li.separator div {
  border-top: 1px solid #383939;
  font-size: 0px;
}

#mbmcpebul_table ul li {
  border-style: solid;
  border-color: #383838;
  border-width: 0;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background-color: #000000;
  display: block;
}


#mbmcpebul_table ul {
  box-shadow: 1px 1px 3px -1px #333333;
}

#mbmcpebul_table a img {
  border: none;
}

#mbmcpebul_table li {
  list-style: none;
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 0;
  float: left;
  display: inline-block;
}

#mbmcpebul_table.css_menu li {
  position: relative;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mbmcpebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mbmcpebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mbmcpebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mbmcpebul_table .submenu_arrow {
  margin-left: 8px;
}


@media screen and (max-width: 500px) {
  #mbmcpebul_wrapper:not(.scripted) {
    text-align: center;
  }

  #mbmcpebul_wrapper:not(.scripted) #mbmcpebul_table li {
    float: none;
    vertical-align: top;
  }
}

#mbmcpebul_wrapper.centeritems {
  text-align: center;
}

#mbmcpebul_wrapper.centeritems #mbmcpebul_table li {
  float: none;
  vertical-align: top;
}


// background-color: #0c376d; //bg
// background-color: #0a0f3a; //dialog bg
// outline: solid;
// outline-color: #3d7ac6;
// outline-width: 1px;