<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
  
  <div id="mbmcpebul_wrapper">
  <ul id="mbmcpebul_table" class="mbmcpebul_menulist css_menu">
  <li><div class="icon_1 with_img_24 buttonbg"><a href="index.html" class="button_1">Home</a></div></li>
  <li><div class="buttonbg"><a href="">Epilogues</a></div>
    <ul>
    <li><a class="with_arrow" title="">Season 1</a>
      <ul>
      <li><a title="">Episode 1 - Time of Sorrow Forgotten</a></li>
      <li><a title="">Episode 2 - PIEASS</a></li>
      <li><a title="">Episode 3 - Concritter Heavy Hitter</a></li>
      <li><a title="">Episode 4 - Mario &amp; Sonic Kills Luigi</a></li>
      <li><a title="">Episode 5 - clean this</a></li>
      </ul></li>
    <li><a class="with_arrow" title="">Season 2</a>
      <ul>
      <li><a title="">Empty Space</a></li>
      </ul></li>
    <li class="separator"><div></div></li>
    <li><a class="with_arrow" title="">Lost Chronicles</a>
      <ul>
      <li><a title="">Aloof.png</a></li>
      </ul></li>
    <li><a class="with_arrow" title="">Cyborg Classics</a>
      <ul>
      <li><a title="">S1E8 - Bii Wara Wara</a></li>
      </ul></li>
    </ul></li>
  <li><div class="buttonbg"><a href="index.html">About Team</a></div></li>
  </ul>
</div>


      <section>
        {{ content }}
      </section>

